<ion-header>

  <ion-navbar color="dark">

    <button ion-button clear item-end (tap)="close()">Cerrar</button>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
    
      <ion-item>
        <ion-label fixed>Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" type="text" value=""></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Sabor</ion-label>
        <ion-input [(ngModel)]="tipo" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Imagen</ion-label>
      </ion-item>

      <ion-item *ngIf="imagePreview">
        <img [src]="imagePreview">
      </ion-item>

      <ion-fab>
        <button ion-fab mini (click)="showGalery()"> <ion-icon name="logo-instagram"></ion-icon></button>
        <button ion-fab mini (click)="showCamera()"><ion-icon name="images"></ion-icon></button>
        <button ion-fab mini (click)="agregarPlatillo()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
        
    
    </ion-list>

</ion-content>
